* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* -------------------CODE UNTUK HEADER */

div.header-title {
    box-sizing: border-box;
    flex: 1;
    margin: auto;
}

.header-title h1 {
    display: flex;
    box-sizing: border-box;
    color: rgb(240, 240, 223);
    margin-left: 20px;
    font-family: "Arimo";
    font-size: 45px;
    letter-spacing: 3px;
}

.header-title span {
    font-family: Arimo;
    color: rgb(255, 144, 0);
}

/* CODE UNTUK NAVIGASI */

div.nav {
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    background-color: rgb(43, 58, 66);
    display: flex;
    position: fixed;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.nav ul {
    flex: 2;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
}

.nav li {
    display: inline-block;
}

.nav a {
    box-sizing: border-box;
    display: inline-block;
    font-family: Raleway;
    font-weight: bold;
    font-size: 15px;
    padding-top: 8px;
    width: 120px;
    height: 40px;
    color: rgb(240, 240, 223);
    text-decoration: none;
    margin: 0 20px;
    border-radius: 20px;
    border: 2px solid rgb(255, 144, 0);
    position: relative;
    top: 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    transition: 0.3s;
}

.nav a:hover {
    background-color: rgb(255, 144, 0);
    border: 2px solid whitesmoke;
    color: rgb(37, 37, 37);
    top: -5px;
    box-shadow: 0 7px 9px rgba(0, 0, 0, 0.4);
}

.nav a:active {
    top: 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

/* CODE UNTUK SEARCH */

div.search {
    display: flex;
    flex: 1;
    margin: auto;
    box-sizing: border-box;

}

.search input {
    box-sizing: border-box;
    height: 30px;
    margin-left: 50px;
    border-radius: 15px;
    padding-left: 8px;
}

.search img {
    width: 30px;
    margin-left: 10px;
}

/* CODE UNTUK JUMBOTRON */

div.jumbotron {
    box-sizing: border-box;
    width: 100%;
    height: 300px;
    background-color: rgb(189, 211, 222);
    position: fixed;
    top: 80px;
}

.jumbotron video {
    position: absolute;
    top: -60px;
    right: 0;
    width: 100%;
}

div.jumbotron2 {
    box-sizing: border-box;
    width: 100%;
    height: 300px;
    /* background-image: url(img/jumbo1.svg); */
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50% -40px;
    position: fixed;
    top: 80px;
}

/* ----------CODE UNTUK BAGIAN CONTENT */
div.hello {
    box-sizing: border-box;
    width: 100%;
    height: 380px;
    padding-top: 160px;
    position: relative;
    z-index: 10;
}

.hello h1 {
    text-align: center;
    font-size: 90px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Oswald;
}

.hello span {
    font-size: 90px;
    color: rgba(255, 144, 0, 0.7);
    font-family: Oswald;
}

div.profilepic {
    position: relative;
    top: 0px;
    transition: 0.3s;
    width: 200px;
    height: 200px;
    background-image: url(img/pp.jpg);
    background-size: cover;
    margin: auto;
    border-radius: 50%;
    border: 5px solid rgb(43, 58, 66);
    box-shadow: 0 8px 10px -3px rgba(0, 0, 0, 0.9);
}

div.profilepic:hover {
    top: -8px;
    box-shadow: 0 16px 15px -3px rgba(0, 0, 0, 0.6);
}

div.line {
    width: 80%;
    margin: auto;
    border-bottom: 2px dotted rgb(43, 58, 66);
    margin-bottom: 30px;
    margin-top: 30px;
}

/* PARAG BOX COLOR */
/* div.parag2 {
    background-color: red;
}

.parag2 h2 {
    background-color: blue;
}

.text2 p {
    background-color: green;
}

div.text2 {
    background-color: cyan;
} */

/* SECTION 1 */
div.section1 {
    width: 100%;
    position: relative;
    padding-top: 50px;
    background-image: url(img/noisebg.png);
    background-size: cover;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
}

.letme h1 {
    text-align: center;
    font-size: 70px;
    font-family: 'Roboto Condensed';
    font-weight: 300;
    color: rgb(255, 144, 0);
    margin-top: 30px;
}

div.text {
    box-sizing: border-box;
    width: 80%;
    margin: auto;
    text-align: justify;
    font-size: 18px;
    margin-top: 20px;
    color: rgb(43, 58, 66);
}

.parag h2 {
    width: 80%;
    margin: auto;
    font-family: "Roboto Condensed";
    font-size: 35px;
    color: rgb(255, 144, 0);
}

.text p {
    width: 700px;
    font-family: Raleway;
    padding-left: 20px;
    border-left: 3px solid rgb(43, 58, 66);
    line-height: 30px;
}

.text i {
    font-family: Raleway;
}

div.banner-edu {
    width: 100%;
    height: 300px;
    background-image: url(img/banner-edu.svg);
    background-size: cover;
}

/* CODE UNTUK SECTION 2 */
div.section2 {
    box-sizing: border-box;
    position: relative;
    background-color: rgb(43, 58, 66);
    width: 100%;
    z-index: 80;
}

div.text2 {
    box-sizing: border-box;
    width: 80%;
    margin: auto;
    text-align: justify;
    font-size: 18px;
    margin-top: 20px;
    color: rgb(43, 58, 66);
    display: flex;
    justify-content: right;
}

.parag2 h2 {
    box-sizing: border-box;
    width: 80%;
    margin: auto;
    font-family: "Roboto Condensed";
    font-size: 50px;
    color: rgb(255, 144, 0);
    text-align: right;
}

.section-box2 p {
    box-sizing: border-box;
    width: 700px;
    font-family: Raleway;
    font-size: 17px;
    padding-left: 20px;
    border-left: 3px solid rgb(189, 211, 222);
    line-height: 30px;
    color: rgb(189, 211, 222);
    margin-bottom: 30px;
    margin-left: 20px;
}

.section-box2 h3 {
    color: rgb(189, 211, 222);
    font-family: "Roboto Condensed";
    font-size: 25px;
}

.section-box2 span {
    font-family: "Roboto Condensed";
    font-size: 25px;
    font-weight: bold;
    color: rgb(255, 144, 0);
}

.section-box2 span.jurusan {
    font-family: "Roboto Condensed";
    font-size: 25px;
    font-weight: 200;
    color: rgb(197, 121, 20);
}

div.banner-exp {
    width: 100%;
    height: 300px;
    background-image: url(img/banner-exp.svg);
    background-size: cover;
}

/* CODE UNTUK SECTION 3 */
div.section3 {
    width: 100%;
    position: relative;
    padding-top: 50px;
    background-color: rgb(25, 36, 40);
    background-size: cover;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
}

div.text3 {
    box-sizing: border-box;
    width: 80%;
    margin: auto;
    text-align: justify;
    font-size: 18px;
    margin-top: 20px;
    color: rgb(43, 58, 66);
}

.text3 span {
    font-family: "Roboto Condensed";
    font-size: 25px;
    color: rgb(197, 121, 20);
}

.text3 span.month {
    font-size: 20px;
    color: rgb(136, 88, 25);
}

.parag3 h2 {
    width: 80%;
    margin: auto;
    font-family: "Roboto Condensed";
    font-size: 30px;
    color: rgb(255, 144, 0);
}

.section-box3 h2.exp {
    font-size: 40px;
}

.text3 p {
    width: 700px;
    font-family: Raleway;
    padding-left: 20px;
    border-left: 3px solid rgb(189, 211, 222);
    line-height: 30px;
    color: rgb(189, 211, 222);
    font-size: 17px;
}

/* CODE UNTUK SECTION 4 */
div.sect4-header {
    position: relative;
    width: 100%;
    height: 110px;
    background-color: rgb(255, 144, 0);
    border-bottom: 4px solid rgb(43, 58, 66);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sect4-header img {
    width: 70px;
    margin: 0 20px;
    animation: spin 10s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.sect4-header h2 {
    font-family: "Roboto Condensed";
    color: rgb(43, 58, 66);
    font-size: 80px;
}

div.sect4-content {
    position: relative;
    width: 100%;
    height: 410px;
    background-image: url(img/noisebg.png);
}

.sect4-video video {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

div.sect4-figure {
    position: absolute;
    width: 100%;
    height: 410px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.inner-box {
    display: flex;
    width: 90%;
    height: 90%;
    border: 5px solid rgb(255, 144, 0);
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

/* ------BOXESS------ */
div.box1 {
    width: 27%;
    height: 35%;
    border: 2px solid rgba(255, 255, 255, 0.7);
    background-image: url(img/computer1.jpg);
    background-size: 100%;
    position: relative;
    top: 0;
}

a.linkbox1 {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "Roboto Condensed";
    font-size: 25px;
    background-color: rgba(255, 144, 0, 0.7);
    color: rgb(240, 240, 223);
}

div.box2 {
    width: 27%;
    height: 35%;
    border: 2px solid rgba(255, 255, 255, 0.7);
    background-image: url(img/archi.jpg);
    background-size: 100%;
    background-position: 0 -120px;
    position: relative;
    top: 0;
}

a.linkbox2 {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "Roboto Condensed";
    font-size: 25px;
    background-color: rgba(255, 144, 0, 0.7);
    color: rgb(240, 240, 223);
}

div.box3 {
    width: 27%;
    height: 35%;
    border: 2px solid rgba(255, 255, 255, 0.7);
    background-image: url(img/digitalart.jpg);
    background-size: 100%;
    background-position: 0 -80px;
    position: relative;
    top: 0;
}

a.linkbox3 {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "Roboto Condensed";
    font-size: 25px;
    background-color: rgba(255, 144, 0, 0.7);
    color: rgb(240, 240, 223);
}

div.box4 {
    width: 27%;
    height: 35%;
    border: 2px solid rgba(255, 255, 255, 0.7);
    background-image: url(img/music.jpg);
    background-size: 100%;
    background-position: 0 -180px;
    position: relative;
    top: 0;
}

a.linkbox4 {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "Roboto Condensed";
    font-size: 25px;
    background-color: rgba(255, 144, 0, 0.7);
    color: rgb(240, 240, 223);
}

div.box5 {
    width: 27%;
    height: 35%;
    border: 2px solid rgba(255, 255, 255, 0.7);
    background-image: url(img/games.jpg);
    background-size: 100%;
    background-position: 0 -70px;
    position: relative;
    top: 0;
}

a.linkbox5 {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "Roboto Condensed";
    font-size: 25px;
    background-color: rgba(255, 144, 0, 0.7);
    color: rgb(240, 240, 223);
}

div.box6 {
    width: 27%;
    height: 35%;
    border: 2px solid rgba(255, 255, 255, 0.7);
    background-image: url(img/drawing.jpg);
    background-size: 100%;
    background-position: 0 -150px;
    position: relative;
    top: 0;
}

a.linkbox6 {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "Roboto Condensed";
    font-size: 25px;
    background-color: rgba(255, 144, 0, 0.7);
    color: rgb(240, 240, 223);
}

.inner-box a {
    opacity: 0;
    transition: 0.3s;
}

.inner-box a:hover {
    opacity: 1;
}

.inner-box div {
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.7);
    transition: 0.3s;
}

.inner-box div:hover {
    top: -10px;
    background-size: 106%;
    box-shadow: 0 14px 10px rgba(0, 0, 0, 0.5);
}

.inner-box div:active {
    top: 0;
    background-size: 100%;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.7);
}

/* ---------------------CODE UNTUK FOOTER */

div.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    background-color: rgb(32, 32, 32);
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.footer h1 {
    width: 15%;
    text-align: center;
    font-family: "Oswald";
    font-size: 280%;
    color: rgb(240, 240, 223);
    border-bottom: 4px solid rgb(240, 240, 223);

}

div.socmed {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.socmed a {
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    width: 8%;
    border-radius: 100%;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.7);
    transition: 0.2s;
}

.socmed a:hover {
    top: -10px;
    box-shadow: 0 13px 9px 2px rgba(0, 0, 0, 0.4);
}

.socmed a:active {
    top: 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.7);
}

div.copy {
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy p {
    color: rgb(240, 240, 223);
    font-size: 13px;
    font-family: Raleway;
}

.copy a {
    color: rgb(240, 240, 223);
    font-family: Raleway;
}